#app {
	width: 80%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	color: cornflowerBlue;
	align-items: center;
	text-align: center;
	background-color: grey;
	padding: 5px;
	text-shadow: 0.5px 0.5px 0.5px grey;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 20px 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

li span {
	padding: 8px;
}

li button {
	background: #f2360c;
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
}

li.high-priority {
	border: 2px solid #1a681e;
	color: #1a681e;
}

li.low-priority {
	border: 2px solid #f2360c;
}

input[type="text"] {
	padding: 10px;
	width: 50%;
  border-radius: 1000px;
}

button{
	padding: 10px;
	background: #000;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 1000px;
}

input[type="submit"]{
border-radius: 1000px;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  color: cornflowerBlue;
}

body {
  background-color: yellow;
}
